* {
    margin: 0;
}

@font-face {
    font-family: BonvenoCF-Light;
    src: url('BonvenoCF-Light.otf');
}

#container {
    position: absolute;
    width: 100%;
    min-width: 1200;
    height: 100%;
}

#header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 66px;
    width: 100%;
    min-width: 960px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
}

#header h1 {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}

#primary-nav {
    float: right;
    display: block;
    padding: 26px 0 0 0;
    margin: 0;
}

#primary-nav li {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 14pt;
    font-family: BonvenoCF-Light;
}

#bg {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
}

.home-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    font-size: 27pt;
    font-family: BonvenoCF-Light;
    display: table;
    padding-bottom: 35px;
    padding-top: 66px;
}

.constrain {
    z-index: 600;
    position: relative;
    padding: 0 0 0 0;
    top: 0;
    margin: 0 auto 0;
    width: 960px;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

#content {
    height: 100%;
}

#footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: block;
    position: fixed;
    height: 35px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 800;
}