* {
    margin: 0;
}

@font-face {
    font-family: BonvenoCF-Light;
    src: url('BonvenoCF-Light.otf');
}

#container {
    position: absolute;
    width: 100%;
    min-width: 1200;
    height: 100%;
}

#header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 66px;
    width: 100%;
    min-width: 960px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
}

#header h1 {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: -100px;
    margin-left: -100px;
    float: left;
}

#primary-nav {
    float: right;
    display: block;
    padding: 26px 0 0 0;
    margin: 0;
}

#primary-nav li {
    display: block;
    float: left;
    padding-left: 15px;
    margin: 0;
    font-size: 14px;
    font-family: BonvenoCF-Light;
}

#bg {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   -webkit-filter: blur(5px);
}

.home-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    z-index: 600;
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 27px;
    font-family: BonvenoCF-Light;
    color: white;
    display: table-cell;
}

.constrain-960 {
    padding: 0 0 0 0;
    margin: 0 auto 0;
    min-width: 960px;
    max-width: 960px;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 20px 10px 20px 10px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#content {
    width: 100%;
    height: 100%;
    min-width: 960px;
    display: table;
    position: absolute;
    padding-bottom: 35px;
    padding-top: 66px;
}

#footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: table;
    position: fixed;
    height: 35px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 800;
}

#footer-left {
    float: left;
    display: table-cell;
    padding-top: 3px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer-right {
    float: right;
    display: table-cell;
    padding-top: 3px;
}